.nav-center {
  max-width: 110rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.nav-header {
  padding: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-header > img {
  height: 3rem;
}
.nav-header > .nav-toggle {
  font-size: 2.4rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}
.nav-header > .nav-toggle:hover {
  transform: rotate(90deg);
}

.links {
  list-style: none;
  padding: 0 1rem;
  height: 0;
  overflow: hidden;
  transition: all 0.3s;
}
.show-links {
  height: 10rem;
}

.links a {
  text-decoration: none;
  color: var(--secondary-color);
}

.social-icons {
  display: none;
  list-style: none;
}
.social-icons a {
  text-decoration: none;
  color: var(--secondary-color);
}

/* MEDIA QUERY MANAGER ============== */
@media screen and (min-width: 48em) {
  .nav-center {
    padding: 1rem;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-header > .nav-toggle {
    display: none;
  }

  .links {
    height: auto;
    display: flex;
    align-items: center;
    column-gap: 2rem;
  }

  .nav-header {
    padding: 0;
  }

  .social-icons {
    display: inline-flex;
    align-items: center;
    column-gap: 2rem;
  }
}
